.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 50px auto;
}

.imgViejon {
    width: 250px;
    position: relative; 
    top: 0; 
    left: 0; 
}
